<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>EDIT PAGE</title>
<style>
  h1 { font-size:18pt; font-weight:bold; color:gray; }
  body { font-size:13pt; margin:5px 25px; color:gray; }
  tr { margin:5px;}
  th { padding:5px; color:white; background:darkgray; }
  td { padding:5px; color:black; background:#e0e0ff; }

</style>
</head>
<body>

  <h1 th:text="${title}">Edit page</h1>

  <table>
    <form method="post" action="/edit" th:object="${formModel}">
    <input type="hidden" name="id" th:value="*{id}" />

    <tr>
      <td><label for="name">Name</label></td>
      <td><input type="text" name="name" th:value="*{name}" /></td>
    </tr>
    <tr>
      <td><label for="age">Age</label></td>
      <td><input type="text" name="age" th:value="*{age}" /></td>
    </tr>
    <tr>
      <td><label for="mail">Mail</label></td>
      <td><input type="text" name="mail" th:value="*{mail}" /></td>
    </tr>
    <tr>
      <td><label for="memo">Memo</label></td>
      <td><textarea name="memo" th:text="*{memo}" cols="20" rows="5"></textarea></td>
    </tr>
 
    <tr><td></td><td><input type="submit" /></td></tr>

    </form>
  </table>
 
</body>
</html>