<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>FIND PAGE</title>
<style>
  h1 { font-size:18pt; font-weight:bold; color:gray; }
  body { font-size:13pt; margin:5px 25px; color:gray; }
  tr { margin:5px;}
  th { padding:5px; color:white; background:darkgray; }
  td { padding:5px; color:black; background:#e0e0ff; }
  .err { color:red; }
</style>
</head>
<body>
  <h1 th:text="#{content.title}">Hello page</h1>
  <p th:text="${msg}"></p>
   <table>
     <form method="post" action="/find">
     <tr>
       <td>FIND:</td>
       <td><input type="text" name="str" size="20" th:value="${value}" /></td>
     </tr>
     <tr>
      <td></td><td><input type="submit" /></td>
     </tr>
     </form>
  </table>
<hr />
  <table>
    <tr><th>ID</th><th>Name</th><th>Mail</th><th>Age</th><th>Memo(tel)</th></tr>
    <tr th:each="obj : ${datalist}">
      <td th:text="${obj.id}"></td>
      <td th:text="${obj.name}"></td>
      <td th:text="${obj.mail}"></td>
      <td th:text="${obj.age}"></td>
      <td th:text="${obj.memo}"></td>
    </tr>
  </table>
</body>
</html>