<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>TOP PAGE</title>
<style>
  h1 { font-size:18pt; font-weight:bold; color:gray; }
  body { font-size:13pt; margin:5px 25px; color:gray; }
  tr { margin:5px;}
  th { padding:5px; color:white; background:darkgray; }
  td { padding:5px; color:black; background:#e0e0ff; }
  .err { color:red; }
</style>
</head>
<body>
  <h1 th:text="#{content.title}">Hello page</h1>
  <p th:text="${msg}"></p>
  <table>
    <form method="post" action="/" th:object="${formModel}">
    <tr>
      <td><label for="name">Name</label></td>
      <td><input type="text" name="name" th:value="*{name}" /></td>
    </tr>
    <tr>
      <td><label for="age">Age</label></td>
      <td><input type="text" name="age" th:value="*{age}" /></td>
    </tr>
    <tr>
      <td><label for="mail">Mail</label></td>
      <td><input type="text" name="mail" th:value="*{mail}" /></td>
    </tr>
    <tr>
      <td><label for="memo">Memo</label></td>
      <td><textarea name="memo" th:text="*{memo}" cols="20" rows="5"></textarea></td>
    </tr>
     <tr><td></td><td><input type="submit" /></td></tr>
    </form>
  </table>
  <hr/>
  <table>
    <tr><th>ID</th><th>Name</th><th>Mail</th><th>Age</th><th>Memo</th></tr>
    <tr th:each="obj : ${datalist}">
      <td th:text="${obj.id}"></td>
      <td th:text="${obj.name}"></td>
      <td th:text="${obj.mail}"></td>
      <td th:text="${obj.age}"></td>
      <td th:text="${obj.memo}"></td>
    </tr>
  </table>
</body>
</html>