<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">MyMsg PAGE</title>
<style>
  h1 { font-size:18pt; font-weight:bold; color:gray; }
  body { font-size:13pt; margin:5px 25px; color:gray; }
  tr { margin:5px;}
  th { padding:5px; color:white; background:darkgray; }
  td { padding:5px; color:black; background:#e0e0ff; }
  .err { color:red; }
</style>
</head>
<body>
  <h1 th:text="${title}">Hello page</h1>
  <p th:text="${msg}"></p>
  <table>
     <form method="post" action="/msg" th:object="${formModel}">
       <input type="hidden" name="id" th:value="*{id}" />
    <tr>
      <td><label for="title">タイトル</label></td>
      <td><input type="text" name="title" th:value="*{title}" /></td>
    </tr>
    <tr>
      <td><label for="message">メッセージ</label></td>
      <td><textarea name="message" th:text="*{message}" cols="20" rows="5"></textarea></td>
    </tr>
    <tr>
      <td><label for="mydataId">MyData_ID</label></td>
      <td><input type="text" name="mydataId" th:text="*{mydataId}" /></td>
    </tr>
 
    <tr><td></td><td><input type="submit" /></td></tr>
     
     </form>
  </table>
<hr />
  <table>
    <tr><th>ID</th><th>名前</th><th>タイトル</th><th>メッセージ</th></tr>
    <tr th:each="obj : ${datalist}">
      <td th:text="${obj.id}"></td>
      <!-- td th:text="${obj.mydata.name}"></td -->>
      <td>ほげ</td>
      <td th:text="${obj.title}"></td>
      <td th:text="${obj.message}"></td>
    </tr>
  </table>
</body>
</html>